

.mainhead{
  width: 1000px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
#image{
  float: right;
  width: 60%;
  }

.headings{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  float:left;
  width:35%;
}
