

 img{
  float: right;
  width: 60%;
  height:50%;
  position:clear left;
  top:opx;
 } 

.rw-wrapper{
  float:left;
	width: 35%;
	margin: 10px auto 0 auto;
	font-family: 'Bree Serif';
}
.rw-sentence{
  position: relative;
	margin:0px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	color: #444;
	white-space: nowrap;
	font-size: 200%;
	font-weight: normal;

}
.rw-words{
	display: inline;
	text-indent: 20px;
}
.rw-words span{
	position: absolute;
	opacity: 0;
  overflow: hidden;
	width:100%;
	color: #6b969d;
}
.rw-words-1 span{
	animation: rotateWordsFirst 18s linear infinite 0s;
}

.rw-words span:nth-child(2) { 
	animation-delay: 3s; 
	color: #6b889d;
}
.rw-words span:nth-child(3) { 
	animation-delay: 6s; 
	color: #6b739d;	
}
.rw-words span:nth-child(4) { 
	animation-delay: 9s; 
	color: #7a6b9d;
}
.rw-words span:nth-child(5) { 
	animation-delay: 12s; 
	color: #8d6b9d;
}

@keyframes rotateWordsFirst {
  0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
  8% { opacity: 1; height: 60px; }
  19% { opacity: 1; height: 60px; }
25% { opacity: 0; height: 60px; }
  100% { opacity: 0; }
}

#button2{
	position: fixed;
	bottom:100px;
	right:200px;
}

#button1{
	position: fixed;
	bottom:100px;
    left:100px;
}
#myDIV{
	border:transparent;
	margin:opx;
	padding:0px;
	background-image: linear-gradient(90deg ,#c1c8e4 75%,white 25%);
	display:none;
	position:fixed;
	bottom:180px;
	left:336px;
}

#mySecondiv{
	border:transparent;
	margin:opx;
	padding:0px;
	background-image: linear-gradient(90deg ,#c1c8e4 65%,white 35%);
	display:none;
	position:fixed;
	bottom:00px;
	left:240px;
}

 #why{
	font-family: sans-serif;
	color: #7a6b9d; 
}