
#image{
  margin-top:20px;
  float: right;
  width: 40%;
  position:clear left;
  }

 img{ 
  width: 400px;
  height: 580px;
 } 

.headings{
  margin-top:80px;
  background-color:#c1c8e4;
  padding: 50px;
  margin: 00px;
  float:left;
  height:600px;
  width:50%;
}

p{
padding:10px;
margin:10px;
}
